Import section

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Read files

In [2]:
car_train=pd.read_csv("../data/train.csv")
car_test=pd.read_csv("../data/test.csv")

In [3]:
car_train.shape

(4819, 14)

In [4]:
car_test.shape

(1159, 13)

In [5]:
car_train.head()

,id,Nombre,Ciudad,Año,Kilometros,Combustible,Tipo_marchas,Mano,Consumo,Motor_CC,Potencia,Asientos,Descuento,Precio_cat
0,1.0,Maruti Swift Dzire ZDI,G,2012.0,83000.0,Diesel,Manual,First,23.4 kmpl,1248 CC,74 bhp,5.0,NaN,3
1,2.0,Maruti Wagon R LXI Optional,I,2016.0,4800.0,Petrol,Manual,First,20.51 kmpl,998 CC,67.04 bhp,5.0,NaN,3
2,3.0,Mahindra KUV 100 mFALCON D75 K8,F,2016.0,26000.0,Diesel,Manual,First,25.32 kmpl,1198 CC,77 bhp,6.0,NaN,3
3,4.0,Hyundai i20 1.2 Magna,E,2013.0,56127.0,Petrol,Manual,First,18.5 kmpl,1197 CC,80 bhp,5.0,NaN,3
4,5.0,Honda Jazz 1.2 SV i VTEC,H,2017.0,41981.0,Petrol,Manual,First,18.7 kmpl,1199 CC,88.7 bhp,5.0,NaN,3

In [50]:
car_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4001 entries, 0 to 4818
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nombre        4001 non-null   int64
 1   Ciudad        4001 non-null   int64
 2   Año           4001 non-null   float64
 3   Kilometros    4001 non-null   float64
 4   Combustible   4001 non-null   int64
 5   Tipo_marchas  4001 non-null   int64
 6   Mano          4001 non-null   int64
 7   Consumo       4001 non-null   int64
 8   Motor_CC      4001 non-null   int64
 9   Potencia      4001 non-null   int64
 10  Asientos      4001 non-null   float64
 11  Descuento     4001 non-null   float64
 12  Precio_cat    4001 non-null   int64
dtypes: float64(4), int64(9)
memory usage: 437.6 KB

In [7]:
car_test.head()

,id,Nombre,Ciudad,Año,Kilometros,Combustible,Tipo_marchas,Mano,Consumo,Motor_CC,Potencia,Asientos,Descuento
0,4820,Mercedes-Benz New C-Class C 220 CDI Avantgarde,H,2015,77771,Diesel,Automatic,First,19.27 kmpl,2143 CC,170 bhp,5.0,NaN
1,4821,Hyundai i10 Magna 1.1,J,2011,62000,Petrol,Manual,First,19.81 kmpl,1086 CC,68.05 bhp,5.0,NaN
2,4822,Ford Figo Diesel EXI,C,2010,129986,Diesel,Manual,Second,20.0 kmpl,1399 CC,68 bhp,5.0,NaN
3,4823,Maruti Swift Dzire VXI Optional,D,2015,49900,Petrol,Manual,First,20.85 kmpl,1197 CC,83.14 bhp,5.0,NaN
4,4824,Maruti Ritz VXI,J,2010,75319,Petrol,Manual,Second,21.1 kmpl,1197 CC,85.80 bhp,5.0,NaN

In [51]:
car_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1159 entries, 0 to 1158
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nombre        1159 non-null   int64
 1   Ciudad        1159 non-null   int64
 2   Año           1159 non-null   int64
 3   Kilometros    1159 non-null   int64
 4   Combustible   1159 non-null   int64
 5   Tipo_marchas  1159 non-null   int64
 6   Mano          1159 non-null   int64
 7   Consumo       1159 non-null   int64
 8   Motor_CC      1159 non-null   int64
 9   Potencia      1159 non-null   int64
 10  Asientos      1159 non-null   float64
 11  Descuento     1159 non-null   float64
dtypes: float64(2), int64(10)
memory usage: 108.8 KB

In [9]:
# Remove id column
car_train = car_train.drop('id', axis = 1)
tests_ids = car_test['id']
del car_test['id']

In [10]:
print("Valores únicos en el conjunto de entrenamiento:\n")
for i in car_train.columns:
    print(i, car_train[i].unique())

Valores únicos en el conjunto de entrenamiento:

Nombre ['Maruti Swift Dzire ZDI' 'Maruti Wagon R LXI Optional'
 'Mahindra KUV 100 mFALCON D75 K8' ...
 'Mercedes-Benz E-Class 280 Elegance' 'Honda City Corporate Edition'
 'Porsche Panamera Diesel 250hp']
Ciudad ['G' 'I' 'F' 'E' 'H' 'C' 'J' 'L' 'B' 'K' 'D' nan]
Año [2012. 2016. 2013. 2017. 2009. 2014. 2011. 2015. 2008. 2010. 2018. 2006.
   nan 2019. 2005. 2007. 2003. 2004. 2001. 1998. 2002. 2000. 1999.]
Kilometros [83000.  4800. 26000. ... 60033. 40158. 65743.]
Combustible ['Diesel' 'Petrol' nan 'CNG' 'LPG' 'Electric']
Tipo_marchas ['Manual' 'Automatic' nan]
Mano ['First' 'Second' 'Third' nan 'Fourth & Above']
Consumo ['23.4 kmpl' '20.51 kmpl' '25.32 kmpl' '18.5 kmpl' '18.7 kmpl' '17.8 kmpl'
 '16.8 kmpl' '18.6 kmpl' '25.2 kmpl' '10.91 kmpl' '12.99 kmpl' '17.5 kmpl'
 '25.8 kmpl' '18.25 kmpl' '10.0 kmpl' '11.5 kmpl' '19.1 kmpl' '14.21 kmpl'
 '14.16 kmpl' '17.43 kmpl' '18.0 kmpl' '15.7 kmpl' '16.0 kmpl'
 '21.43 kmpl' '21.64 kmpl' '20.73 kmpl' '14.0 kmpl' '17.9 kmpl'
 '28.4 kmpl' '15.96 kmpl' nan '23.65 kmpl' '20.36 kmpl' '21.9 kmpl'
 '22.95 kmpl' '23.59 kmpl' '17.57 kmpl' '21.27 kmpl' '17.3 kmpl'
 '22.32 kmpl' '18.9 kmpl' '24.7 kmpl' '24.0 kmpl' '11.0 kmpl' '13.0 kmpl'
 '16.47 kmpl' '17.21 kmpl' '13.6 kmpl' '26.59 kmpl' '14.74 kmpl'
 '23.84 kmpl' '14.53 kmpl' '21.5 kmpl' '11.8 kmpl' '15.73 kmpl'
 '16.12 kmpl' '17.11 kmpl' '20.45 kmpl' '17.1 kmpl' '22.74 kmpl'
 '13.7 kmpl' '21.76 kmpl' '14.42 kmpl' '15.1 kmpl' '24.07 kmpl'
 '21.66 kmpl' '22.77 kmpl' '14.6 kmpl' '11.7 kmpl' '20.85 kmpl'
 '15.4 kmpl' '19.81 kmpl' '19.27 kmpl' '17.0 kmpl' '18.88 kmpl'
 '20.0 kmpl' '12.05 kmpl' '20.86 kmpl' '12.07 kmpl' '18.48 kmpl'
 '16.1 kmpl' '15.87 kmpl' '17.01 kmpl' '20.77 kmpl' '19.3 kmpl'
 '16.02 kmpl' '19.7 kmpl' '16.6 kmpl' '19.4 kmpl' '19.67 kmpl'
 '12.55 kmpl' '22.9 kmpl' '24.4 kmpl' '11.1 kmpl' '15.97 kmpl' '27.3 kmpl'
 '19.87 kmpl' '14.84 kmpl' '12.8 kmpl' '20.3 kmpl' '13.5 kmpl' '14.3 kmpl'
 '0.0 kmpl' '17.45 kmpl' '12.7 kmpl' '22.3 kmpl' '13.93 kmpl' '19.6 kmpl'
 '24.3 kmpl' '15.04 kmpl' '13.1 kmpl' '25.01 kmpl' '16.73 kmpl'
 '15.3 kmpl' '17.92 kmpl' '21.1 kmpl' '10.5 kmpl' '20.65 kmpl'
 '11.72 kmpl' '22.7 kmpl' '16.07 kmpl' '19.16 kmpl' '11.33 kmpl'
 '14.8 kmpl' '17.4 kmpl' '18.56 kmpl' '18.12 kmpl' '15.6 kmpl' '16.5 kmpl'
 '26.6 kmpl' '27.62 kmpl' '13.68 kmpl' '23.5 kmpl' '28.09 kmpl'
 '17.68 kmpl' '22.71 kmpl' '23.9 kmpl' '21.14 kmpl' '18.33 kmpl'
 '16.55 kmpl' '15.5 kmpl' '23.8 kmpl' '12.9 kmpl' '19.08 kmpl'
 '15.64 kmpl' '20.54 kmpl' '11.3 kmpl' '20.14 kmpl' '22.54 kmpl'
 '15.26 kmpl' '12.4 kmpl' '23.2 kmpl' '18.2 kmpl' '15.29 kmpl' '8.0 kmpl'
 '24.5 kmpl' '16.2 kmpl' '13.33 kmpl' '12.6 kmpl' '23.1 kmpl' '13.2 kmpl'
 '16.36 kmpl' '14.07 kmpl' '14.24 kmpl' '20.37 kmpl' '18.8 kmpl'
 '16.09 kmpl' '16.93 kmpl' '11.36 kmpl' '17.05 kmpl' '18.53 kmpl'
 '18.16 kmpl' '22.0 kmpl' '9.43 kmpl' '21.4 kmpl' '33.54 kmpl'
 '24.52 kmpl' '27.39 kmpl' '22.5 kmpl' '13.49 kmpl' '11.49 kmpl'
 '22.07 kmpl' '23.08 kmpl' '15.0 kmpl' '16.95 kmpl' '9.0 kmpl'
 '19.01 kmpl' '18.06 kmpl' '21.7 kmpl' '26.0 kmpl' '11.2 kmpl' '25.4 kmpl'
 '14.28 kmpl' '12.3 kmpl' '12.62 kmpl' '15.06 kmpl' '15.68 kmpl'
 '25.44 kmpl' '14.4 kmpl' '13.4 kmpl' '16.78 kmpl' '11.74 kmpl'
 '13.22 kmpl' '20.5 kmpl' '20.92 kmpl' '19.5 kmpl' '10.9 kmpl' '25.0 kmpl'
 '14.95 kmpl' '25.47 kmpl' '12.97 kmpl' '10.4 kmpl' '21.12 kmpl'
 '17.85 kmpl' '19.49 kmpl' '12.19 kmpl' '15.8 kmpl' '10.93 kmpl'
 '17.72 kmpl' '16.3 kmpl' '11.57 kmpl' '19.12 kmpl' '14.67 kmpl'
 '15.17 kmpl' '21.79 kmpl' '16.9 kmpl' '19.15 kmpl' '21.0 kmpl'
 '22.69 kmpl' '20.4 kmpl' '15.9 kmpl' '10.1 kmpl' '20.38 kmpl' '17.6 kmpl'
 '14.57 kmpl' '14.02 kmpl' '13.06 kmpl' '9.8 kmpl' '17.71 kmpl'
 '22.8 kmpl' '13.14 kmpl' '11.79 kmpl' '16.25 kmpl' '21.21 kmpl'
 '14.47 kmpl' '20.46 kmpl' '24.2 kmpl' '13.24 kmpl' '12.39 kmpl'
 '26.21 kmpl' '14.1 kmpl' '23.0 kmpl' '33.44 kmpl' '17.19 kmpl'
 '18.3 kmpl' '12.0 kmpl' '13.73 kmpl' '11.25 kmpl' '25.1 kmpl'
 '18.49 kmpl' '20.89 kmpl' '10.37 kmpl' '20.34 kmpl' '16.82 kmpl'
 '11.4 kmpl' '12.35 kmpl' '18.15 kmpl' '14.94 kmpl' '27.4 kmpl'
 '19.0 kmpl' '10.2 kmpl' '26.1 kmpl' '17.97 kmpl' '19.72 kmpl'
 '10.13 kmpl' '25.17 kmpl' '12.81 kmpl' '32.26 kmpl' '26.2 kmpl'
 '13.17 kmpl' '19.44 kmpl' '16.77 kmpl' '19.2 kmpl' '21.38 kmpl'
 '21.72 kmpl' '14.66 kmpl' '11.18 kmpl' '19.34 kmpl' '19.64 kmpl'
 '15.2 kmpl' '19.33 kmpl' '18.4 kmpl' '19.83 kmpl' '31.79 kmpl'
 '14.7 kmpl' '16.38 kmpl' '17.54 kmpl' '17.84 kmpl' '11.05 kmpl'
 '13.01 kmpl' '16.4 kmpl' '22.1 kmpl' '16.51 kmpl' '25.83 kmpl'
 '23.03 kmpl' '10.8 kmpl' '11.9 kmpl' '18.1 kmpl' '13.45 kmpl'
 '12.37 kmpl' '20.63 kmpl' '9.52 kmpl' '8.6 kmpl' '10.6 kmpl' '18.59 kmpl'
 '16.46 kmpl' '17.2 kmpl' '21.02 kmpl' '18.19 kmpl' '9.7 kmpl'
 '16.52 kmpl' '20.68 kmpl' '13.58 kmpl' '17.7 kmpl' '22.48 kmpl'
 '20.64 kmpl' '21.19 kmpl' '16.98 kmpl' '14.75 kmpl' '24.8 kmpl'
 '9.9 kmpl' '21.56 kmpl' '17.67 kmpl' '7.94 kmpl' '12.83 kmpl'
 '18.78 kmpl' '15.15 kmpl' '16.7 kmpl' '14.69 kmpl' '18.44 kmpl'
 '15.63 kmpl' '13.9 kmpl' '13.53 kmpl' '6.4 kmpl' '18.86 kmpl'
 '11.68 kmpl' '23.01 kmpl' '16.05 kmpl' '12.85 kmpl' '18.69 kmpl'
 '19.59 kmpl' '11.56 kmpl' '15.11 kmpl' '21.03 kmpl' '20.7 kmpl'
 '26.3 kmpl' '14.49 kmpl' '23.3 kmpl' '12.98 kmpl' '8.3 kmpl' '16.96 kmpl'
 '8.7 kmpl' '27.28 kmpl' '17.09 kmpl' '17.16 kmpl' '9.5 kmpl' '27.03 kmpl'
 '13.8 kmpl' '9.3 kmpl' '24.6 kmpl' '19.98 kmpl' '19.71 kmpl' '7.5 kmpl'
 '25.6 kmpl' '14.9 kmpl' '13.44 kmpl' '21.13 kmpl' '17.44 kmpl'
 '12.65 kmpl' '21.8 kmpl' '14.81 kmpl' '8.2 kmpl' '18.23 kmpl'
 '15.85 kmpl' '8.1 kmpl' '14.39 kmpl' '18.51 kmpl' '11.78 kmpl'
 '12.5 kmpl' '20.58 kmpl' '26.8 kmpl' '12.63 kmpl' '19.09 kmpl'
 '19.69 kmpl' '14.2 kmpl' '12.51 kmpl' '26.83 kmpl' '15.74 kmpl'
 '21.2 kmpl' '8.5 kmpl' '14.59 kmpl' '12.1 kmpl' '14.62 kmpl' '24.04 kmpl'
 '25.5 kmpl' '18.18 kmpl']
Motor_CC ['1248 CC' '998 CC' '1198 CC' '1197 CC' '1199 CC' '1497 CC' '3198 CC'
 '2494 CC' '1298 CC' '1498 CC' '1968 CC' '2496 CC' '2982 CC' '2143 CC'
 '1396 CC' '1390 CC' '2179 CC' '1364 CC' '1461 CC' '1373 CC' '796 CC'
 '2523 CC' '1193 CC' nan '1120 CC' '2987 CC' '1591 CC' '1493 CC' '2993 CC'
 '1794 CC' '2967 CC' '1798 CC' '1995 CC' '1368 CC' '1796 CC' '1590 CC'
 '1086 CC' '1582 CC' '1998 CC' '2354 CC' '1799 CC' '1598 CC' '999 CC'
 '2609 CC' '1991 CC' '2499 CC' '1341 CC' '995 CC' '2835 CC' '2199 CC'
 '1196 CC' '4134 CC' '2148 CC' '1896 CC' '793 CC' '2393 CC' '624 CC'
 '1061 CC' '2755 CC' '2200 CC' '814 CC' '2360 CC' '4806 CC' '1997 CC'
 '1599 CC' '2995 CC' '1950 CC' '1495 CC' '1399 CC' '1596 CC' '1978 CC'
 '1999 CC' '4367 CC' '1984 CC' '1595 CC' '72 CC' '2400 CC' '1186 CC'
 '2198 CC' '2498 CC' '936 CC' '1496 CC' '993 CC' '2497 CC' '1047 CC'
 '2489 CC' '1405 CC' '1956 CC' '3498 CC' '1499 CC' '1388 CC' '1586 CC'
 '2997 CC' '1781 CC' '3436 CC' '2694 CC' '2979 CC' '2953 CC' '2698 CC'
 '799 CC' '2092 CC' '2956 CC' '2446 CC' '2696 CC' '1395 CC' '2894 CC'
 '1172 CC' '2359 CC' '5998 CC' '2996 CC' '1948 CC' '3597 CC' '1194 CC'
 '1462 CC' '1150 CC' '2773 CC' '5204 CC' '1985 CC' '3200 CC' '4951 CC'
 '2487 CC' '1969 CC' '1468 CC' '2771 CC' '3197 CC' '2147 CC' '1299 CC'
 '2477 CC' '2925 CC' '5461 CC' '2706 CC' '1242 CC' '2999 CC' '5000 CC'
 '1597 CC' '1422 CC' '2362 CC' '970 CC' '2112 CC']
Potencia ['74 bhp' '67.04 bhp' '77 bhp' '80 bhp' '88.7 bhp' '75 bhp' '118 bhp'
 '81.83 bhp' '197 bhp' '100.6 bhp' '85.8 bhp' '98.6 bhp' '187.74 bhp'
 '157.7 bhp' '171 bhp' '203 bhp' '174.3 bhp' '76.8 bhp' '105.5 bhp'
 '117.3 bhp' '140 bhp' '87.2 bhp' '84.8 bhp' '91.1 bhp' '35 bhp' '136 bhp'
 '73.75 bhp' '62.1 bhp' '88.5 bhp' '78.9 bhp' '90 bhp' '73.74 bhp' nan
 '80.46 bhp' '88.76 bhp' '126.32 bhp' '81.86 bhp' '70 bhp' '198.5 bhp'
 '67.1 bhp' '121.3 bhp' '100 bhp' '63 bhp' '270.9 bhp' '84 bhp'
 '138.1 bhp' '81.80 bhp' '82 bhp' '180 bhp' '174.33 bhp' '245 bhp'
 '116.3 bhp' '83.8 bhp' '121.4 bhp' '47.3 bhp' '190 bhp' '67.05 bhp'
 '147.6 bhp' '83.83 bhp' '98.59 bhp' '112 bhp' '178 bhp' '83.14 bhp'
 '94 bhp' '68.05 bhp' '170 bhp' '184 bhp' '126.3 bhp' '108.5 bhp'
 '154 bhp' '73.9 bhp' '241.4 bhp' '88.2 bhp' '308.43 bhp' '93.7 bhp'
 '46.3 bhp' '86.8 bhp' '126.2 bhp' '168.5 bhp' '71 bhp' '142 bhp'
 '258 bhp' '167.62 bhp' '102 bhp' '130 bhp' '103.52 bhp' '116.6 bhp'
 '181.03 bhp' '108.45 bhp' '235 bhp' '120 bhp' '197.2 bhp' '103.6 bhp'
 '141 bhp' '89.75 bhp' '169 bhp' '218 bhp' '61 bhp' '62 bhp' '107.2 bhp'
 '194.3 bhp' '73 bhp' '181 bhp' '158.2 bhp' '89.84 bhp' '82.85 bhp'
 '335.2 bhp' '86.7 bhp' '130.2 bhp' '262.6 bhp' '201.15 bhp' '85.80 bhp'
 '106 bhp' '58.16 bhp' '47 bhp' '147.8 bhp' '86.79 bhp' '37.48 bhp'
 '167.7 bhp' '147.51 bhp' '160 bhp' '126.24 bhp' '64 bhp' '174.5 bhp'
 '139.01 bhp' '55.2 bhp' '157.75 bhp' '88.8 bhp' '88.73 bhp' '132 bhp'
 '73.94 bhp' '83 bhp' '183 bhp' '82.4 bhp' '57.5 bhp' '394.3 bhp'
 '153.86 bhp' '105 bhp' '103.2 bhp' '340 bhp' '191.34 bhp' '187.7 bhp'
 '98.82 bhp' '101 bhp' '83.1 bhp' '103.5 bhp' '171.5 bhp' '237.4 bhp'
 '138.03 bhp' '68 bhp' '64.08 bhp' '335.3 bhp' '88 bhp' '63.1 bhp'
 '120.7 bhp' '67 bhp' '41 bhp' '215 bhp' '73.97 bhp' '185 bhp' '158 bhp'
 '246.7 bhp' '177 bhp' '177.6 bhp' '194 bhp' '57.6 bhp' '65 bhp'
 '65.3 bhp' '125 bhp' '186 bhp' '60 bhp' '165 bhp' '69 bhp' '265 bhp'
 '88.50 bhp' '163.5 bhp' '300 bhp' '236 bhp' '86.76 bhp' '241 bhp'
 '272 bhp' '108.49 bhp' '254.79 bhp' '79.4 bhp' '110.4 bhp' '141.1 bhp'
 '123.24 bhp' '177.46 bhp' '56.3 bhp' '110 bhp' '254.8 bhp' '75.94 bhp'
 '64.1 bhp' '123.37 bhp' '152 bhp' '103.3 bhp' '143 bhp' '74.96 bhp'
 '108.62 bhp' '163.2 bhp' '118.3 bhp' '102.53 bhp' '80.9 bhp' '157.8 bhp'
 '104.68 bhp' '301.73 bhp' '82.9 bhp' '102.5 bhp' '69.01 bhp' '148 bhp'
 '210 bhp' '98.96 bhp' '40.3 bhp' '37.5 bhp' '147.9 bhp' '167.6 bhp'
 '224 bhp' '163.7 bhp' '306 bhp' '189.08 bhp' '138 bhp' '67.06 bhp'
 '99 bhp' '308 bhp' '99.6 bhp' '179.5 bhp' '127 bhp' '34.2 bhp'
 '364.9 bhp' '53.3 bhp' '168.7 bhp' '97.7 bhp' '148.31 bhp' '58.2 bhp'
 '271.23 bhp' '107.3 bhp' '114 bhp' '241.38 bhp' '73.8 bhp' '108.4 bhp'
 '97.6 bhp' '156 bhp' '76 bhp' '320 bhp' '55 bhp' '140.8 bhp' '203.2 bhp'
 '58.33 bhp' '138.02 bhp' '85 bhp' '177.5 bhp' '66.1 bhp' '313 bhp'
 '261.49 bhp' '444 bhp' '282 bhp' '78 bhp' '85.7 bhp' '150 bhp'
 '198.25 bhp' '91.7 bhp' '552 bhp' '91.72 bhp' '123.7 bhp' '204 bhp'
 '158.8 bhp' '134 bhp' '94.68 bhp' '201.1 bhp' '66 bhp' '116.4 bhp'
 '271.72 bhp' '103.25 bhp' '138.08 bhp' '74.9 bhp' '450 bhp' '147.5 bhp'
 '246.74 bhp' '98.79 bhp' '255 bhp' '240 bhp' '95 bhp' '63.12 bhp'
 '201 bhp' '200 bhp' '177.01 bhp' '53.64 bhp' '560 bhp' '122 bhp'
 '163 bhp' '103 bhp' '135.1 bhp' '199.3 bhp' '121.36 bhp' '102.57 bhp'
 '395 bhp' '113.98 bhp' '115 bhp' '144 bhp' '92.7 bhp' '175.67 bhp'
 '181.43 bhp' '178.4 bhp' '71.01 bhp' '70.02 bhp' '250 bhp' '207.8 bhp'
 '224.34 bhp' '382 bhp' '118.6 bhp' '192 bhp' '53.5 bhp' '193.1 bhp'
 '55.23 bhp' '112.2 bhp' '175.56 bhp' '112.4 bhp' '281.61 bhp' '387.3 bhp'
 '174.57 bhp' '161.6 bhp' '83.11 bhp' '104 bhp' '66.7 bhp' '333 bhp'
 '488.1 bhp' '37 bhp' '108.495 bhp' '92 bhp' '503 bhp' '38.4 bhp'
 '181.04 bhp' '362.07 bhp' '155 bhp' '500 bhp' '93 bhp' '187.4 bhp'
 '164.7 bhp' '149.92 bhp' '168 bhp' '189 bhp' '91.2 bhp' '261.5 bhp'
 '110.5 bhp' '82.5 bhp' '231.1 bhp']
Asientos [ 5.  6.  7.  8. nan  4. 10.  9.  2.  0.]
Descuento [  nan 53.14  8.36 10.32  8.34  6.62  7.45  6.59  5.88  7.17  4.48  8.09
 10.52 11.19 15.05  9.12 14.67  7.48  6.23 13.6  10.06  1.02  4.71 79.43
 12.68  8.05 23.06 62.11 19.27 34.45  8.26 56.97  9.1  15.01  1.36 86.97
 36.69 11.48 10.91 20.8   8.13  7.63  5.58  7.59 10.28  5.04 28.05  7.01
 26.55  4.98 10.7  11.05 13.58  8.56 49.14 15.86  5.61  7.36 11.33 12.74
 18.45 11.29 11.12  7.39 19.43  8.16 16.06 64.57 13.7  24.26 95.13 55.07
  4.69 33.58 43.65  6.96  9.47 47.87  7.87 22.37 70.55 15.29  7.96 10.3
  8.99  9.19 11.67  6.   11.66 21.72 15.17 11.15 11.27  9.97 92.5  12.47
 10.42 14.72  4.53  4.61  9.56 14.65  6.21  5.95 59.77 18.64 50.4   4.87
 47.2  25.52 44.28 23.94 54.43  5.54 11.88  8.54  6.41  9.79 11.39  4.24
 21.69 15.68  4.04 69.22  7.46 23.89 12.88 10.97  9.51  7.82  9.55 64.14
 19.39 20.74 71.15 11.2   8.73 15.34  4.66  8.55 13.49  7.97  8.82 15.72
 16.65 48.64 78.76  8.03  9.04 12.53 20.87 11.75 11.28  7.98 12.22 23.25
  6.45  5.87  6.32  1.66  5.71 47.16  1.28 64.76 12.02  5.45  8.71 15.57
  5.72 21.1   7.13  7.37  9.99  6.42 10.48  4.43 19.37  8.63  4.93 10.15
  6.54 21.   79.78 15.36 33.36 19.34  6.82  4.7   5.42 48.18  5.8  11.69
  6.29  7.83 69.47 22.66  8.24 11.3  12.14 10.94 14.84 40.73  4.78  1.04
 16.04 91.38 15.94  6.14  7.52 11.74 11.11 21.36  6.33  8.1   6.71 52.77
 11.77  7.15 53.72  4.74  8.28 55.61  6.74 11.89  5.67 14.32 32.45 42.89
  7.    2.3   6.67  8.68 23.37  8.8  22.74 21.38 63.71 52.46 11.16 26.95
  5.9  17.7  10.63 11.37 37.38  7.88 10.34 10.65  4.05 67.87 13.4  10.04
  8.84 27.    8.85  6.63 23.14  5.56  9.46 19.18 12.51 14.1   4.37 11.26
 10.89  5.29  7.3   3.95  8.12  8.23 10.1   4.09 83.92 26.56  9.26 15.55
  3.98 35.    8.61 11.44 50.97  5.12 40.62  5.44 49.49  6.51  4.9  11.47
 12.27 13.23 24.02 12.79  5.36  6.56 54.7  12.12  5.51  7.54  4.59  7.56
 15.59  6.94 15.02 71.82 12.57  5.3   6.68 10.81 14.23 10.57 14.2  45.67
 13.59 44.59 24.63  9.62  9.09 12.56  6.05 20.46  1.13 22.87 70.43 43.81
 11.63 12.67 43.07  7.55  7.43 14.07 10.83  9.89 13.33  7.94 10.25 11.01
  7.67  8.78 99.92 52.26 14.22 39.57 11.85  1.39  9.78  5.57 16.95 12.34
 41.94 42.48 34.89 12.33 33.91 16.67  7.69 58.67  4.55  8.44 24.01 33.51
  1.   67.1  22.46 23.19  3.96 22.43  5.92 69.59 67.67 26.45  8.18 38.72
  1.71 37.9   4.33  8.38  8.75 10.41  8.58 44.8  36.94 20.97 13.72 33.68
 10.17  1.4   6.07 19.21  6.83 87.57  7.91 11.96 69.37  4.36 45.36  6.4
  5.68 37.17 36.15  7.85  9.96 14.11 12.   20.48  5.35 11.71 11.58 53.68
  9.83 43.31  6.78  4.8  25.4  22.95  3.91 34.6  25.27 16.84 15.38 13.74
  6.43 12.9  53.41 32.01 62.07 48.79 39.27 95.04 10.13  8.57  7.33 16.4
 50.26 60.59  8.17 18.35  9.58 11.81  6.99 11.06 10.99 72.64 92.79  8.69
 21.77 23.64 13.76  6.8   9.72  9.14 30.19  7.7  22.86  9.93 15.45 24.82
 11.56  8.93 11.   25.54 42.12  7.65 21.33  5.13  4.29 19.86  7.35 15.06
 15.14  4.45 19.91  6.08 11.98]
Precio_cat [3 2 4 5 1]

In [11]:
print("Valores únicos en el conjunto de test:\n")
for i in car_test.columns:
    print(i, car_test[i].unique())

Valores únicos en el conjunto de test:

Nombre ['Mercedes-Benz New C-Class C 220 CDI Avantgarde' 'Hyundai i10 Magna 1.1'
 'Ford Figo Diesel EXI' 'Maruti Swift Dzire VXI Optional'
 'Maruti Ritz VXI' 'Tata Indigo LX BSII' 'Mercedes-Benz B Class B200 CDI'
 'Audi A4 2.0 TDI 177 Bhp Premium Plus' 'Honda City i-DTEC SV'
 'Toyota Innova 2.5 G (Diesel) 8 Seater'
 'Toyota Corolla Altis Diesel D4DG' 'Mahindra XUV500 W10 AWD'
 'Maruti 800 Std BSIII' 'Tata Manza Club Class Quadrajet90 LS'
 'BMW 5 Series 2003-2012 520d' 'Toyota Fortuner 2.8 4WD MT'
 'Nissan Micra XE'
 'BMW X5 2014-2019 xDrive 30d Design Pure Experience 7 Seater'
 'Toyota Fortuner 4x2 AT' 'Maruti Alto LX' 'Ford Figo Petrol Titanium'
 'Honda City 1.3 EXI' 'Maruti A-Star Lxi' 'Honda City i VTEC SV'
 'Maruti Wagon R LXI CNG' 'Hyundai Verna 1.6 SX'
 'BMW 3 Series Luxury Line' 'Mahindra Thar DI 4X4'
 'Toyota Innova 2.5 VX (Diesel) 8 Seater BS IV'
 'Hyundai Verna 1.6 SX VTVT' 'Maruti Ertiga ZDI'
 'Honda City i VTEC VX Option' 'Toyota Corolla 1.8 J'
 'Audi Q3 2012-2015 2.0 TDI Quattro Premium Plus' 'Honda Amaze E i-Vtech'
 'Hyundai i10 Sportz' 'BMW 7 Series 2007-2012 730Ld'
 'Maruti Wagon R VXI BSIII' 'Maruti Swift Dzire VDI' 'Maruti 800 AC Uniq'
 'Ford Fiesta Classic 1.4 Duratorq LXI' 'Hyundai i10 Era'
 'Mercedes-Benz GLA Class 200 Sport' 'Chevrolet Beat Diesel LT'
 'Tata Indigo XL Classic Dicor' 'Nissan Terrano XV Premium 110 PS'
 'Toyota Innova 2.5 VX (Diesel) 7 Seater'
 'Hyundai Grand i10 1.2 CRDi Sportz Option' 'Tata Zest Quadrajet 1.3'
 'Mercedes-Benz S Class 2005 2013 S 350 CDI' 'Chevrolet Beat LT'
 'Ford Figo Aspire 1.5 TDCi Titanium'
 'Hyundai Tucson 2.0 Dual VTVT 2WD AT GL' 'Tata Indigo GLE'
 'Hyundai i20 2015-2017 1.2 Magna' 'Chevrolet Spark 1.0 LT'
 'Mercedes-Benz R-Class R350 CDI 4MATIC' 'Maruti Wagon R VXI'
 'Honda Brio S Option MT' 'Tata Nano Cx'
 'Renault Duster 110PS Diesel RxZ AMT' 'Maruti Swift ZDI'
 'Toyota Innova 2.5 GX (Diesel) 7 Seater' 'Tata Nano Twist XT'
 'Tata Nano Lx' 'Volkswagen Jetta 2007-2011 1.9 Highline TDI'
 'Toyota Corolla H4' 'Mercedes-Benz GLE 350d' 'Ford Endeavour 3.0L 4X4 AT'
 'Maruti Ciaz VXi Plus' 'Audi TT 40 TFSI' 'Maruti Alto K10 VXI'
 'Maruti Wagon R AMT VXI' 'Hyundai Grand i10 1.2 Kappa Sportz'
 'Mercedes-Benz New C-Class C 220 CDI BE Avantgare'
 'Chevrolet Optra Magnum 2.0 LS BSIII' 'Mahindra XUV500 W10 2WD'
 'Hyundai i20 1.4 CRDi Sportz' 'Honda City i DTEC V'
 'Ford Figo Diesel Celebration Edition' 'Skoda Octavia RS'
 'Maruti Ritz VDi' 'Maruti Swift VDI BSIV' 'Fiat Linea Emotion'
 'Toyota Fortuner 3.0 Diesel' 'Maruti Ritz VXi' 'Honda WRV i-VTEC VX'
 'Nissan Micra XV D' 'Tata Indica V2 eLS' 'Volkswagen Polo GT TSI'
 'Hyundai i20 Sportz Option 1.2' 'Mercedes-Benz A Class A180 Sport'
 'Maruti Wagon R LXI' 'Land Rover Range Rover HSE Dynamic'
 'Audi Q3 2012-2015 35 TDI Quattro Premium' 'Ford Figo Diesel Titanium'
 'Hyundai i10 Magna(O) with Sun Roof' 'Maruti Swift VXI Optional'
 'Hyundai i20 1.2 Magna Executive'
 'Honda Civic 2010-2013 1.8 V AT Sunroof' 'Audi Q5 30 TDI quattro Premium'
 'Volkswagen Vento Diesel Comfortline' 'BMW 3 Series 320d Luxury Line'
 'Maruti Omni 8 Seater BSII' 'Maruti Swift Dzire Vdi BSIV'
 'Ford Ecosport 1.5 DV5 MT Titanium' 'Maruti Alto LXi'
 'Mercedes-Benz S Class 2005 2013 S 500' 'Maruti Wagon R LX BSII'
 'Maruti A-Star Vxi'
 'Mercedes-Benz New C-Class C 220d Avantgarde Edition C'
 'BMW 3 Series 320d Sport Line'
 'Mercedes-Benz E-Class 2015-2017 E250 Edition E' 'Datsun GO NXT'
 'Honda City ZX GXi' 'Maruti Ritz LDi' 'Ford Fiesta 1.4 Duratorq ZXI'
 'Volkswagen Polo 1.2 MPI Highline' 'BMW 3 Series 330 Ci Convertible'
 'Toyota Innova Crysta 2.8 ZX AT' 'Mahindra Ssangyong Rexton RX5'
 'Maruti Ciaz VDi Plus' 'Hyundai i10 Magna Optional 1.1L'
 'Hyundai i10 Magna 1.2' 'Honda Accord 2.4 AT'
 'Tata Indica Vista Aura 1.3 Quadrajet' 'Maruti Swift Lxi BSIII'
 'Audi A7 2011-2015 3.0 TDI Quattro' 'Jeep Compass 2.0 Limited 4X4'
 'Volkswagen Polo Diesel Comfortline 1.2L' 'Honda City ZX CVT'
 'Ford Fiesta 1.4 ZXi Duratec' 'Chevrolet Sail Hatchback LS ABS'
 'Hyundai Xcent 1.2 Kappa Base' 'Hyundai Verna CRDi 1.4 E'
 'BMW 5 Series 2013-2017 520d Luxury Line' 'Hyundai i20 Magna'
 'Maruti Swift VDI' 'Hyundai Verna 1.6 VTVT S'
 'Maruti SX4 Green Vxi (CNG)'
 'Land Rover Discovery 3 TDV6 Diesel Automatic'
 'Jeep Compass 1.4 Limited Option' 'Toyota Fortuner 4x2 Manual'
 'Honda Brio S MT' 'BMW 3 Series 320d Prestige'
 'Audi Q5 2008-2012 2.0 TFSI Quattro' 'Hyundai Santa Fe 2WD AT'
 'Mini Cooper Convertible S' 'Audi Q7 35 TDI Quattro Technology'
 'BMW 7 Series 2007-2012 740Li' 'Maruti Swift Dzire VXI'
 'Hyundai i20 1.2 Magna' 'Maruti Celerio VXI AT Optional'
 'Honda City i-VTEC CVT ZX' 'BMW 3 Series 320d Highline'
 'Maruti Wagon R LXI BS IV' 'Maruti Alto 800 2016-2019 LXI'
 'Maruti Zen VXI BSII' 'Tata Hexa XTA' 'Hyundai Accent GLS 1.6'
 'Maruti Swift Dzire VXi' 'Hyundai i20 Sportz Diesel'
 'Honda City V MT AVN' 'Audi A6 2011-2015 2.0 TDI Premium Plus'
 'Toyota Corolla H2' 'Maruti Swift Dzire ZDI'
 'Toyota Innova Crysta 2.4 VX MT 8S' 'Maruti S Cross DDiS 320 Alpha'
 'Ford EcoSport 1.5 TDCi Trend' 'Maruti Alto 800 LXI'
 'Porsche Panamera Diesel' 'Volkswagen Vento Petrol Highline'
 'Mercedes-Benz M-Class ML 250 CDI' 'Volkswagen Ameo 1.2 MPI Comfortline'
 'Volkswagen Jetta 2013-2015 2.0L TDI Highline AT' 'Honda Amaze VX Diesel'
 'Maruti Dzire AMT ZXI Plus' 'Honda Brio 1.2 VX MT' 'Audi TT 2.0 TFSI'
 'Audi A4 3.0 TDI Quattro Premium' 'Mercedes-Benz CLA 200 CDI Sport'
 'Maruti Wagon R LX BSIII' 'BMW 7 Series 730Ld'
 'Skoda Octavia Classic 1.9 TDI MT' 'Volkswagen Ameo 1.2 MPI Trendline'
 'Mahindra Bolero ZLX BSIII' 'Honda Civic 2006-2010 1.8 V AT'
 'Force One LX 4x4' 'BMW 3 Series 330d Convertible' 'Maruti 800 DX BSII'
 'Land Rover Range Rover Evoque 2.0 TD4 HSE Dynamic'
 'Tata Nexon 1.2 Revotron XZ Plus' 'Maruti Swift Dzire VDi'
 'Mercedes-Benz M-Class ML 320 CDI' 'Land Rover Freelander 2 HSE'
 'Land Rover Freelander 2 SE' 'Maruti S-Cross Zeta DDiS 200 SH'
 'Maruti Wagon R VXI BS IV' 'Mahindra XUV500 W8 2WD'
 'Nissan Terrano XV D Pre' 'Tata Indigo LS' 'Maruti Alto K10 LXI'
 'Mahindra Xylo E4' 'BMW 5 Series 520d Luxury Line'
 'Mercedes-Benz New C-Class C 220 CDI Elegance AT'
 'Land Rover Freelander 2 TD4 S' 'Hyundai Grand i10 1.2 Kappa Magna'
 'Honda Jazz S' 'Audi Q5 2.0 TDI Premium Plus' 'Maruti Dzire New'
 'Audi Q7 4.2 TDI Quattro Technology'
 'Mercedes-Benz GLA Class 200 CDI SPORT' 'Mahindra Xylo H4'
 'Maruti Celerio VXI AMT' 'Hyundai Santro Xing GLS'
 'Ford Fiesta Diesel Style' 'Hyundai i20 2015-2017 1.2 Asta'
 'Hyundai Grand i10 Sportz' 'Hyundai Creta 1.6 CRDi SX Option'
 'BMW X3 xDrive20d Advantage Edition' 'Maruti Alto 800 VXI'
 'Honda CR-V 2.4 MT' 'BMW 3 Series 320d Luxury Plus'
 'Maruti Swift VXi BSIV' 'Mahindra Ssangyong Rexton RX7'
 'Mahindra Scorpio S6 Plus 7 Seater' 'Honda City V MT'
 'Volvo S60 D4 KINETIC' 'Hyundai EON Era Plus'
 'Volkswagen Polo IPL II 1.2 Petrol Highline' 'Chevrolet Beat LS'
 'Honda City 1.5 S MT' 'Jaguar XF 2.2 Litre Luxury'
 'Maruti Vitara Brezza VDi Option' 'Hyundai Verna 1.6 SX VTVT AT'
 'Hyundai i10 Sportz 1.2 AT' 'Maruti Zen Estilo 1.1 LX BSIII'
 'Maruti Wagon R Duo Lxi' 'Renault Duster 85PS Diesel RxL'
 'Ford Ikon 1.3 Flair' 'Honda City i VTEC V' 'Chevrolet Beat Diesel'
 'Maruti Swift ZDi' 'Ford Endeavour 2.2 Trend AT 4X2'
 'Maruti Omni MPI CARGO BSIII W/ IMMOBILISER'
 'Land Rover Range Rover Sport HSE' 'Hyundai i20 Asta 1.4 CRDi'
 'Hyundai Creta 1.6 CRDi AT SX Plus' 'Hyundai Grand i10 CRDi Magna'
 'Hyundai Verna CRDi SX' 'Mercedes-Benz M-Class ML 350 4Matic'
 'Chevrolet Optra 1.6 LS' 'Hyundai i20 Active 1.4 SX'
 'Ford EcoSport 1.5 Ti VCT MT Titanium BE' 'Hyundai Creta 1.6 SX Option'
 'Nissan Teana XV' 'Maruti Zen LXi - BS III' 'Honda City i DTEC VX'
 'Maruti Swift Dzire LDI' 'Skoda Rapid 1.6 TDI Elegance'
 'Chevrolet Cruze LTZ' 'Volkswagen Vento Diesel Trendline'
 'Mahindra XUV500 AT W10 FWD' 'Hyundai Grand i10 Era'
 'Mercedes-Benz M-Class ML 350 CDI' 'Jaguar XF 3.0 Litre S Premium Luxury'
 'Tata Manza Aura Quadrajet BS IV' 'Hyundai Grand i10 Magna'
 'Volkswagen Polo Diesel Highline 1.2L' 'Hyundai Accent GLE'
 'Skoda Rapid 1.6 MPI Elegance' 'Toyota Corolla Altis 1.4 DG'
 'Maruti Vitara Brezza ZDi' 'Volkswagen Polo Petrol Highline 1.6L'
 'Renault KWID AMT RXL' 'Maruti Wagon R LX'
 'Ford Endeavour 3.2 Titanium AT 4X4' 'Maruti Ciaz ZDi Plus'
 'BMW X1 sDrive20d' 'Tata Manza Aura Plus Quadrajet BS IV'
 'BMW X5 xDrive 30d' 'Skoda Rapid 1.6 MPI Ambition'
 'Chevrolet Spark 1.0 LS' 'Honda Accord 2.4 MT'
 'Maruti Ciaz ZDi Plus SHVS' 'Hyundai Grand i10 Asta' 'Hyundai i10 Asta'
 'Skoda Laura RS' 'Hyundai Grand i10 CRDi SportZ Edition'
 'Hyundai i10 Sportz 1.2' 'Hyundai Verna Transform SX VTVT'
 'Maruti SX4 Vxi BSIII' 'Skoda Octavia Elegance 1.9 TDI'
 'Maruti Baleno Alpha 1.3' 'Mahindra XUV500 W8 4WD'
 'Mitsubishi Pajero Sport 4X4 AT' 'Maruti Alto 800 2016-2019 CNG LXI'
 'BMW 7 Series 2007-2012 750Li' 'Hyundai EON Magna Plus'
 'Volvo S60 D5 Summum' 'Skoda Octavia Rider 1.9 TDI MT'
 'Fiat Linea 1.3 Emotion' 'Volkswagen Beetle 2.0' 'Audi A4 2.0 TDI'
 'Mercedes-Benz New C-Class C 200 CGI Avantgarde'
 'Skoda Superb Elegance 1.8 TSI AT' 'Maruti Zen LXi BSII'
 'Hyundai Verna CRDi 1.6 AT SX Plus' 'ISUZU D-MAX V-Cross 4X4'
 'Mercedes-Benz E-Class 2009-2013 E 200 CGI Avantgarde'
 'Volkswagen Polo Petrol Trendline 1.2L'
 'Skoda Octavia Elegance 2.0 TDI AT' 'Ford Figo Diesel ZXI'
 'Nissan Terrano XV Premium 110 PS Anniversary Edition'
 'Honda Amaze S i-Vtech' 'Ford EcoSport 1.5 Diesel Titanium'
 'Tata Bolt Revotron XT' 'Hyundai Verna CRDi SX ABS'
 'Maruti Alto 800 CNG LXI' 'Mercedes-Benz GLC 43 AMG Coupe'
 'Toyota Innova 2.5 V Diesel 7-seater' 'Maruti 800 Std' 'Datsun GO Plus A'
 'Mercedes-Benz CLA 200 Sport Edition' 'Audi A6 2.7 TDI'
 'Honda Amaze S i-Dtech' 'Ford Endeavour Titanium 4X2'
 'Hyundai i10 Sportz 1.1L' 'Hyundai Verna 1.6 VTVT' 'Maruti Dzire ZDI'
 'Mercedes-Benz SLC 43 AMG' 'Jaguar XJ 3.0L Portfolio LWB'
 'Skoda Superb Style 2.0 TDI AT' 'Skoda Fabia 1.2 MPI Classic'
 'Hyundai i10 Asta Sunroof AT' 'BMW 3 Series Sport' 'Audi Q3 2.0 TDI'
 'Ford Endeavour 2.5L 4X2' 'Ford Figo Petrol ZXI'
 'Hyundai i20 Era 1.4 CRDi' 'Volkswagen Vento Diesel Highline'
 'Maruti 800 AC' 'Maruti Baleno Alpha CVT' 'Ford Ikon 1.3 CLXi'
 'Mercedes-Benz New C-Class C 250 CDI Avantgarde'
 'Audi Q7 3.0 TDI Quattro Premium Plus' 'Honda Jazz Mode'
 'BMW 5 Series 2013-2017 530d M Sport' 'Honda City i VTEC VX'
 'Hyundai Xcent 1.1 CRDi S' 'Hyundai i20 1.2 Sportz'
 'Maruti Swift DDiS VDI' 'Volvo V40 Cross Country D3'
 'Hyundai Verna CRDi 1.6 SX Option' 'Tata Indica Vista TDI LX'
 'Honda City 1.5 V AT' 'Volvo S80 2006-2013 D5'
 'Ford Endeavour 2.5L 4X2 MT' 'Hyundai Verna CRDi ABS'
 'Ford Ecosport 1.5 DV5 MT Titanium Optional'
 'Ford Fiesta 1.6 ZXi Leather' 'Volkswagen Polo Petrol Highline 1.2L'
 'Maruti Alto K10 2010-2014 VXI' 'Nissan X-Trail SLX AT'
 'Hyundai Xcent 1.1 CRDi Base' 'Mitsubishi Pajero Sport 4X4'
 'Toyota Fortuner 4x4 MT' 'Volkswagen Vento 1.5 TDI Highline'
 'Volkswagen Tiguan 2.0 TDI Highline' 'Maruti Wagon R LXI BSIII'
 'Honda City 1.5 V MT' 'Toyota Innova 2.5 VX (Diesel) 8 Seater'
 'Mercedes-Benz E-Class 2009-2013 E250 CDI Elegance' 'BMW 3 Series 320d'
 'Hyundai Santa Fe 4X2' 'Honda Jazz 1.2 V CVT i VTEC' 'Maruti Dzire VDI'
 'Maruti SX4 ZXI MT BSIV' 'Fiat Linea Classic Plus 1.3 Multijet'
 'Nissan Micra Diesel XV' 'Toyota Innova 2.5 V Diesel 8-seater'
 'BMW X1 sDrive 20d Exclusive' 'Toyota Corolla Altis D-4D GL'
 'Jaguar XF 2.2 Litre Executive' 'Renault KWID RXT Optional'
 'Mahindra XUV500 W4' 'Toyota Etios Liva GD' 'Mahindra XUV500 W6 2WD'
 'Mahindra Bolero DI BSII' 'Hyundai Santa Fe 4x4 AT'
 'Mercedes-Benz E-Class 2009-2013 E350 CDI Avantgarde'
 'Mercedes-Benz GLA Class 200 CDI'
 'Mahindra Scorpio VLX 4WD AIRBAG AT BSIV' 'Maruti Eeco 7 Seater Standard'
 'Land Rover Range Rover 2.2L Dynamic' 'Hyundai Santro Xing GL'
 'Maruti Wagon R Duo LX BSIII' 'Skoda Octavia Rider Classic 1.9 TDI'
 'Honda City 1.5 E MT' 'Hyundai Getz 1.3 GLS' 'Hyundai i10 Sportz AT'
 'Hyundai i20 1.4 CRDi Asta' 'Maruti Swift Dzire 1.2 Lxi BSIV'
 'Volkswagen Jetta 2012-2014 1.4 TSI' 'Maruti Swift Vdi BSIII'
 'Audi Q7 45 TDI Quattro Technology' 'Toyota Corolla DX'
 'Maruti Ciaz 1.3 Alpha' 'Hyundai Creta 1.6 SX Automatic Diesel'
 'Renault Koleos 2.0 Diesel' 'Force One LX ABS 7 Seating'
 'Skoda Laura Elegance 2.0 TDI CR AT' 'Ford Fiesta 1.4 SXi TDCi ABS'
 'Maruti Wagon R ZXI AMT 1.2' 'BMW 7 Series 730Ld Sedan'
 'Hyundai i20 Sportz 1.2' 'BMW X1 sDrive 18i' 'Tata Manza Aura Safire'
 'Hyundai Xcent 1.2 CRDi S' 'Audi A6 2.0 TDI Design Edition'
 'Skoda Superb Style 1.8 TSI AT' 'Hyundai i10 Magna'
 'Volkswagen Polo GT 1.5 TDI' 'Hyundai Santa Fe 4WD AT'
 'Mini Cooper 5 DOOR D' 'Hyundai Verna VTVT 1.6 AT SX Option'
 'Audi A4 1.8 TFSI' 'Maruti Omni 8 Seater BSIV' 'Maruti Swift Dzire ZXi'
 'Maruti SX4 VDI' 'Tata Indica Vista Quadrajet LS' 'Hyundai i20 1.2 Spotz'
 'BMW 5 Series 530d M Sport' 'Toyota Camry Hybrid'
 'Hyundai Xcent 1.2 Kappa SX' 'Toyota Innova Crysta 2.4 VX MT'
 'BMW X1 sDrive 20d xLine' 'Hyundai i20 Magna Optional 1.2'
 'Hyundai i10 Magna AT' 'Mahindra Scorpio 2009-2014 SLE 7S BSIV'
 'Maruti Ertiga SHVS VDI' 'Skoda Rapid 1.5 TDI Ambition Plus'
 'Renault Pulse Petrol RxL' 'Chevrolet Sail LT ABS' 'Tata Nano Lx BSIV'
 'Mercedes-Benz E-Class 200 Kompressor Elegance' 'Honda Brio E MT'
 'Porsche Cayenne Turbo S' 'Land Rover Range Rover 2.2L Prestige'
 'Honda City ZX EXi' 'Ford Fiesta 1.4 TDCi EXI Limited Edition'
 'Renault Duster 110PS Diesel RxZ Plus' 'Maruti Alto LXI'
 'Chevrolet Aveo 1.4 LS' 'Mahindra Scorpio S8 8 Seater'
 'Maruti Baleno Zeta 1.3' 'Hyundai Verna CRDi' 'Ford Figo 1.5D Trend MT'
 'Toyota Innova 2.5 VX (Diesel) 7 Seater BS IV'
 'Renault Duster 110PS Diesel RxZ Pack' 'Maruti SX4 Zxi BSIII'
 'BMW 5 Series 2010-2013 530d' 'Honda Civic 2006-2010 1.8 S MT'
 'Datsun Redi GO Sport' 'Volkswagen Polo Diesel Trendline 1.2L'
 'Ford Endeavour 2.2 Titanium AT 4X2'
 'Toyota Fortuner 4x2 AT TRD Sportivo'
 'Mercedes-Benz S Class 2005 2013 S 350 L'
 'Mercedes-Benz New C-Class 220 CDI AT' 'Toyota Innova Crysta 2.8 GX AT'
 'Nissan Terrano XL D Option'
 'Mercedes-Benz New C-Class C 220 CDI CLASSIC'
 'Audi A7 2011-2015 Sportback' 'Honda Jazz 1.5 VX i DTEC'
 'Hyundai i20 1.4 CRDi Magna' 'Audi A6 2011-2015 35 TDI Technology'
 'Chevrolet Aveo U-VA 1.2 LS' 'Chevrolet Sail Hatchback 1.2 LS ABS'
 'Chevrolet Aveo 1.4' 'Hyundai Verna 1.6 SX CRDi (O)'
 'Tata Indica V2 DLS BSIII' 'Hyundai i20 1.4 Asta' 'Ford Ikon 1.3 LXi NXt'
 'Toyota Innova 2.5 G (Diesel) 7 Seater' 'Audi Q7 3.0 TDI quattro'
 'Volkswagen Passat Diesel Highline 2.0 TDI' 'Skoda Octavia 1.9 TDI'
 'Audi Q3 2012-2015 35 TDI Quattro Premium Plus' 'Tata Indigo LX'
 'Audi A4 New 2.0 TDI Multitronic' 'Maruti Baleno Alpha'
 'Honda Brio VX AT' 'BMW X3 xDrive20d'
 'Volkswagen Polo Petrol Comfortline 1.2L'
 'Land Rover Range Rover Sport SE' 'Skoda Laura Ambiente 2.0 TDI CR AT'
 'Ford Ecosport 1.5 DV5 MT Trend' 'Honda Accord VTi-L (AT)'
 'Hyundai Elantra CRDi SX AT' 'Honda City i VTEC CVT VX'
 'Volkswagen Vento 1.6 Highline' 'Maruti Omni 5 Seater BSIV'
 'Hyundai Accent GLS' 'Tata Nano XTA' 'Tata Indigo LS Dicor'
 'Mercedes-Benz E-Class 2015-2017 E250 CDI Avantgarde' 'Maruti Swift VXI'
 'Mercedes-Benz GLE 250d' 'Hyundai Verna 1.6 CRDI AT SX Option'
 'Maruti Ciaz ZXi Plus' 'BMW 5 Series 2003-2012 523i'
 'Skoda Octavia Ambiente 1.9 TDI' 'Fiat Linea Emotion Pack (Diesel)'
 'Maruti Swift LDI' 'Maruti Wagon R LXI DUO BSIII' 'Chevrolet Aveo 1.6 LT'
 'Maruti Eeco 5 STR With AC Plus HTR CNG' 'Hyundai EON D Lite Plus'
 'Ford Fiesta 1.4 ZXi Leather' 'Toyota Fortuner 4x4 AT'
 'Datsun redi-GO T Option' 'Maruti Celerio ZXI MT'
 'Mitsubishi Pajero 2.8 SFX BSIII Dual Tone'
 'Maruti Alto 800 2016-2019 VXI' 'Maruti Celerio VXI AT'
 'Datsun redi-GO S' 'Volkswagen Polo 1.5 TDI Highline'
 'Nissan Sunny 2011-2014 XV' 'Skoda Fabia 1.4 MPI Ambiente'
 'Toyota Corolla Executive (HE)' 'Skoda Laura 1.9 TDI MT Ambiente'
 'Honda Amaze VX i-DTEC' 'Tata Manza Aqua Quadrajet'
 'Renault Duster 110PS Diesel RxZ' 'Mercedes-Benz CLA 200 CGI Sport'
 'Volvo S60 D4 SUMMUM' 'Ford Fusion Plus 1.4 TDCi Diesel'
 'Nissan Micra Diesel XL' 'Mercedes-Benz B Class B180'
 'Hyundai i20 Active 1.2 SX Dual Tone' 'Ambassador Classic Nova Diesel'
 'Maruti Zen Estilo LXI BS IV' 'Ford Figo Aspire 1.5 TDCi Titanium Plus'
 'BMW 6 Series 640d Gran Coupe' 'Mercedes-Benz SLK-Class 55 AMG'
 'BMW 5 Series 2007-2010 525d Sedan' 'Volkswagen Vento Petrol Highline AT'
 'Maruti Vitara Brezza ZDi Plus Dual Tone' 'Ford Fiesta 1.4 ZXi TDCi ABS'
 'Maruti Ciaz ZDi SHVS' 'BMW 5 Series 2010-2013 525i'
 'Chevrolet Aveo 1.4 LT' 'Maruti Baleno Alpha Automatic'
 'Maruti Ciaz ZXi Option' 'Renault Duster 110PS Diesel RxL'
 'Renault Scala RxL' 'Skoda Octavia L and K 1.9 TDI MT'
 'Hyundai i20 1.2 Sportz Option' 'Maruti Alto LXi BSIII' 'Maruti Zen LX'
 'Volkswagen Polo GTI' 'Mahindra Scorpio 2.6 DX'
 'Honda Civic 2006-2010 1.8 V MT' 'Hyundai Xcent 1.2 VTVT SX'
 'Ford Figo 1.5D Titanium Plus MT' 'Hyundai Verna VTVT 1.6 SX Option'
 'Tata Venture EX' 'Renault KWID RXT' 'Hyundai Getz GLS'
 'Toyota Fortuner 2.8 2WD AT' 'Maruti Zen VXI'
 'Nissan Micra Diesel XV Premium' 'Tata Manza ELAN Quadrajet BS IV'
 'BMW 6 Series 650i Coupe' 'Audi Q3 2.0 TDI Quattro'
 'Audi Q3 35 TDI Quattro Premium' 'Honda Amaze V CVT Petrol'
 'Maruti Alto Vxi 1.1' 'Hyundai i20 Active SX Petrol' 'BMW 3 Series 330i'
 'Mercedes-Benz New C-Class C 250 CDI Elegance' 'Mahindra Xylo D4 BS III'
 'Tata Sumo EX' 'Honda Civic 2006-2010 1.8 (E) MT' 'Mahindra Xylo E2'
 'Mercedes-Benz New C-Class C 200 Kompressor Elegance AT'
 'Maruti Alto K10 VXI AGS' 'Honda Brio EX MT'
 'Maruti Zen Estilo 1.1 VXI BSIII' 'Hyundai i20 Asta 1.2'
 'Maruti Grand Vitara 2.4 MT' 'Hyundai i10 Era 1.1'
 'Ford Fiesta 1.4 Duratec EXI' 'Maruti Dzire AMT ZDI Plus'
 'Mahindra TUV 300 T8 AMT' 'Maruti Ciaz VDI SHVS'
 'Hyundai Verna 1.6 i ABS' 'Audi A6 35 TDI Matrix'
 'Land Rover Discovery HSE Luxury 3.0 TD6'
 'Ford EcoSport 1.5 Ti VCT AT Titanium' 'Ford Ikon 1.4 TDCi DuraTorq'
 'Hyundai Verna 1.6 CRDi SX' 'Chevrolet Beat Option Pack'
 'Mahindra Scorpio S4 7 Seater' 'Honda CR-V 2.0 AT'
 'Toyota Corolla Altis 1.8 Sport' 'Mahindra Bolero SLE BSIII'
 'Maruti SX4 S Cross DDiS 200 Zeta'
 'Mercedes-Benz GL-Class 350 CDI Blue Efficiency'
 'Honda WR-V Edge Edition i-VTEC S' 'Hyundai i20 Asta Option 1.4 CRDi'
 'Hyundai Getz 1.5 CRDi GVS' 'Maruti Ertiga VDI' 'Tata Indica V2 DLS BSII'
 'Maruti Wagon R Stingray VXI' 'Tata Indigo CS LX (TDI) BS III'
 'Honda Jazz 1.5 S i DTEC' 'Maruti Swift Dzire VXi AT'
 'BMW X1 sDrive 20d Sportline' 'Skoda Laura Ambition 2.0 TDI CR AT'
 'Ford Fiesta Classic 1.4 Duratorq CLXI'
 'BMW 5 Series 2003-2012 540i Sedan' 'Tata Indica V2 DLS'
 'Mahindra Renault Logan 1.4 GLX Petrol' 'BMW X1 xDrive 20d xLine'
 'Skoda Superb 1.8 TSI MT' 'Hyundai Creta 1.6 SX Plus Dual Tone Petrol'
 'Tata New Safari DICOR 2.2 VX 4x2' 'Mahindra Scorpio VLX'
 'Ford Ecosport Signature Edition Diesel'
 'Toyota Innova 2.5 ZX Diesel 7 Seater' 'BMW X5 3.0d'
 'Maruti Wagon R VXI 1.2' 'Maruti Ertiga SHVS ZDI Plus'
 'Mercedes-Benz E-Class 2009-2013 E 250 Elegance'
 'Maruti Baleno Alpha 1.2' 'Hyundai i10 Era 1.1 iTech SE'
 'Volvo XC60 D4 Summum' 'Toyota Fortuner 4x2 4 Speed AT'
 'Maruti Celerio ZDi' 'Honda City 1.5 V AT Sunroof'
 'Maruti Baleno Zeta 1.2' 'Tata Indica V2 DL BSIII'
 'Audi Q5 30 TDI quattro Premium Plus' 'Maruti Swift Ldi BSIII'
 'Tata Indica V2 DLE BSIII' 'BMW 1 Series 118d Base'
 'Volkswagen Polo 1.2 MPI Comfortline' 'Honda Jazz Select Edition'
 'Audi A4 2.0 TDI Celebration Edition'
 'Tata Indica Vista Aqua 1.3 Quadrajet' 'Chevrolet Sail Hatchback 1.2 LS'
 'Chevrolet Aveo U-VA 1.2 LT' 'Hyundai EON D Lite Plus Option'
 'Toyota Innova 2.5 G4 Diesel 7-seater' 'Honda City 1.3 EXI S'
 'Ford Aspire Titanium Plus Diesel' 'Mini Cooper S Carbon Edition'
 'Toyota Innova 2.5 GX (Diesel) 8 Seater'
 'Hyundai Elantra 2.0 SX Option AT' 'Maruti Baleno Zeta Automatic'
 'Renault Lodgy 110PS RxZ 8 Seater' 'Honda Amaze VX i-VTEC'
 'Hyundai i20 Diesel Asta Option' 'Maruti Omni MPI STD BSIV'

In [12]:
# find the number of nulls in each colum
car_train.isnull().sum()

Nombre            72
Ciudad            72
Año               72
Kilometros        72
Combustible       72
Tipo_marchas      72
Mano              72
Consumo           73
Motor_CC         101
Potencia         175
Asientos         106
Descuento       4160
Precio_cat         0
dtype: int64

In [13]:
# find the number of nulls in each colum
car_test.isnull().sum()

Nombre             0
Ciudad             0
Año                0
Kilometros         0
Combustible        0
Tipo_marchas       0
Mano               0
Consumo            0
Motor_CC           0
Potencia           0
Asientos           0
Descuento       1004
dtype: int64

In [14]:
print("There is {} duplicated values in data frame".format(car_train.duplicated().sum()))

There is 8 duplicated values in data frame

In [15]:
print("There is {} duplicated values in data frame".format(car_test.duplicated().sum()))

There is 0 duplicated values in data frame

In [16]:
car_train.isnull().sum()

Nombre            72
Ciudad            72
Año               72
Kilometros        72
Combustible       72
Tipo_marchas      72
Mano              72
Consumo           73
Motor_CC         101
Potencia         175
Asientos         106
Descuento       4160
Precio_cat         0
dtype: int64

In [17]:
print("Shape of train data Before dropping any Row: ",car_train.shape)
car_train = car_train[car_train['Nombre'].notna()]
print("Shape of train data After dropping Rows with NULL values in Nombre: ",car_train.shape)
car_train = car_train[car_train['Ciudad'].notna()]
print("Shape of train data After dropping Rows with NULL values in Ciudad: ",car_train.shape)
car_train = car_train[car_train['Año'].notna()]
print("Shape of train data After dropping Rows with NULL values in Año: ",car_train.shape)
car_train = car_train[car_train['Kilometros'].notna()]
print("Shape of train data After dropping Rows with NULL values in Kilometros: ",car_train.shape)
car_train = car_train[car_train['Combustible'].notna()]
print("Shape of train data After dropping Rows with NULL values in Combustible: ",car_train.shape)
car_train = car_train[car_train['Tipo_marchas'].notna()]
print("Shape of train data After dropping Rows with NULL values in Tipo_marchas: ",car_train.shape)
car_train = car_train[car_train['Mano'].notna()]
print("Shape of train data After dropping Rows with NULL values in Mano: ",car_train.shape)
car_train = car_train[car_train['Consumo'].notna()]
print("Shape of train data After dropping Rows with NULL values in Consumo: ",car_train.shape)
car_train = car_train[car_train['Motor_CC'].notna()]
print("Shape of train data After dropping Rows with NULL values in Motor_CC: ",car_train.shape)
car_train = car_train[car_train['Potencia'].notna()]
print("Shape of train data After dropping Rows with NULL values in Potencia: ",car_train.shape)
car_train = car_train[car_train['Asientos'].notna()]
print("Shape of train data After dropping Rows with NULL values in Asientos: ",car_train.shape)

Shape of train data Before dropping any Row:  (4819, 13)
Shape of train data After dropping Rows with NULL values in Nombre:  (4747, 13)
Shape of train data After dropping Rows with NULL values in Ciudad:  (4676, 13)
Shape of train data After dropping Rows with NULL values in Año:  (4606, 13)
Shape of train data After dropping Rows with NULL values in Kilometros:  (4540, 13)
Shape of train data After dropping Rows with NULL values in Combustible:  (4475, 13)
Shape of train data After dropping Rows with NULL values in Tipo_marchas:  (4410, 13)
Shape of train data After dropping Rows with NULL values in Mano:  (4342, 13)
Shape of train data After dropping Rows with NULL values in Consumo:  (4274, 13)
Shape of train data After dropping Rows with NULL values in Motor_CC:  (4185, 13)
Shape of train data After dropping Rows with NULL values in Potencia:  (4060, 13)
Shape of train data After dropping Rows with NULL values in Asientos:  (4001, 13)

In [18]:
car_train['Descuento']=car_train['Descuento'].fillna((car_train['Descuento'].mode()[0]))

In [19]:
car_test['Descuento']=car_test['Descuento'].fillna((car_test['Descuento'].mode()[0]))

In [20]:
car_train.isnull().sum()

Nombre          0
Ciudad          0
Año             0
Kilometros      0
Combustible     0
Tipo_marchas    0
Mano            0
Consumo         0
Motor_CC        0
Potencia        0
Asientos        0
Descuento       0
Precio_cat      0
dtype: int64

In [21]:
car_test.isnull().sum()

Nombre          0
Ciudad          0
Año             0
Kilometros      0
Combustible     0
Tipo_marchas    0
Mano            0
Consumo         0
Motor_CC        0
Potencia        0
Asientos        0
Descuento       0
dtype: int64

In [22]:
car_train.shape

(4001, 13)

In [23]:
car_test.shape

(1159, 12)

In [24]:
# Aplicando etiqueta a varios ficheros
from sklearn.preprocessing import LabelEncoder

In [25]:
df_train_orig = car_train.copy()
df_test_orig = car_test.copy()

In [26]:
for i in list(car_train.columns):
    if car_train[i].dtypes == "object":
        to_read = "../data/" + i.lower() + ".csv"
        label = LabelEncoder().fit(pd.read_csv(to_read)[i])
        car_train[i] = label.transform(df_train_orig[i])
        car_test[i] = label.transform(df_test_orig[i])

In [27]:
correcto = True

for asientos in df_train_orig.Asientos.unique():
    label_train = car_train.Asientos[df_train_orig.Asientos == asientos].unique()
    label_test = car_test.Asientos[df_test_orig.Asientos == asientos].unique()
    
    if len(label_train)==0 or len(label_test)==0:
        continue
    
    if label_train != label_test:
        print("Error, {} es etiquetado en train como {} y en test como {}".format(asientos, label_train, label_test))
        correcto = False
        break
        
if correcto:
    print("Todo perfecto")

Todo perfecto

In [28]:
y = car_train['Precio_cat']
x = car_train.drop(['Precio_cat'],axis=1)

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
x_train,x_test,y_train,y_test = train_test_split(x, y, random_state=0, test_size=0.2)

In [31]:
from sklearn.model_selection import cross_val_score

In [32]:
from sklearn.linear_model import LinearRegression, LogisticRegression

In [33]:
from sklearn.metrics import r2_score

In [34]:
linear_r = LinearRegression()

In [35]:
linear_score = cross_val_score(linear_r, x_train, y_train, cv=5)

In [36]:
print(linear_score.mean(), linear_score.std())

0.6754656580239766 0.026383420222709328

In [54]:
linear_r.fit(x_train,y_train)
linear_pred=linear_r.predict(x_test)
print(linear_pred)
linear_score=r2_score(y_test,linear_pred)

[3.11457793 2.90128056 3.02599096 3.79678189 2.42608953 4.20621273
 4.07897924 3.72846341 4.72482869 3.53201458 4.87457824 2.58934106
 4.21222524 4.21459387 3.2231358  4.53832424 3.11927203 3.41535925
 3.28564392 2.6306398  3.61217587 3.82077493 3.31686411 1.3702326
 3.84904484 3.05957253 3.084458   3.29572061 3.49448275 2.90868827
 3.07277928 3.02160358 3.13955546 2.46745629 3.55767402 3.13026932
 2.57300365 3.41565963 2.28354384 4.20538357 2.74229073 4.33862084
 1.32747211 2.31284154 2.3001815  5.04989715 3.0490221  1.86743058
 4.25734101 2.68014985 2.82371377 1.6105057  3.45887661 3.00071439
 3.27369344 3.99686506 4.08511397 2.94874651 3.72727635 3.53647909
 3.81765084 3.21133091 2.54055185 3.49897855 2.45854799 4.52332011
 5.20872109 2.43920042 2.38660709 3.88822399 3.03633314 2.06276097
 5.99842538 4.86814993 4.5535511  3.04505875 3.24951024 3.65600693
 3.19023208 2.99112309 3.32030389 1.98637904 3.53590177 4.79500482
 4.12366631 2.02318385 3.33643055 2.40551428 2.91834588 3.39861087
 3.02595658 2.47612026 2.93649611 3.39821262 3.95236654 2.41604499
 3.2141562  3.52951682 3.62423789 3.53923561 2.50180748 3.4578927
 3.00483048 3.98832404 4.80333737 3.93434004 2.97711543 4.44887096
 3.50630697 2.85424757 3.54384985 4.4769354  3.26037252 4.71961131
 4.43628792 3.06772928 1.72367477 2.19575935 1.7073127  2.99748479
 2.94521988 3.04648911 2.54232999 3.53874235 2.29943837 3.26006598
 5.28160917 2.73141499 4.86619354 3.43854028 2.90840563 3.24689285
 3.7285938  3.46727819 2.4927585  4.87759107 1.77086508 4.257654
 3.57280831 2.5679201  3.4934039  4.11466693 3.00400944 3.37416453
 2.77048201 2.2225501  2.64831468 3.50654201 2.76030311 3.43662761
 2.31570673 3.28240162 3.30152249 1.51592939 4.61883811 1.61156278
 3.33827707 2.34880455 2.86622962 1.94836492 4.44773568 2.90369176
 4.22797727 4.10588997 3.76550832 2.58043697 2.29500542 3.33058315
 2.66987626 3.3998218  3.51724311 3.65398375 3.19495967 4.83410403
 2.18462307 3.29760625 3.18495207 3.4303037  2.52939656 4.02475533
 3.56349647 3.90504439 3.61761892 2.09034105 2.8160399  3.42924815
 3.85320619 2.81189377 2.56257057 3.12462945 3.60059981 5.044419
 2.71382991 3.05728331 3.38987329 2.62562352 3.32454242 1.1873115
 2.03293452 3.23477664 4.61861312 3.00148499 2.5818478  3.01245042
 4.61958637 4.52282692 4.0540639  2.921151   4.70879038 2.79765514
 3.17802582 2.56766153 2.75561621 3.54056514 3.66077917 2.66998906
 2.90320365 4.77791026 2.34402881 3.95212513 3.89629585 4.88927747
 3.01825434 2.97901801 1.9350304  4.80255582 3.4504793  2.97089296
 2.12236089 2.9989418  2.93282996 4.97978819 6.07207749 3.42553054
 3.1014993  3.93173076 2.96590588 2.42760273 2.94051406 4.10226816
 3.48583965 2.41916635 4.44276624 4.41860014 4.76605017 4.01399229
 4.35835934 2.11715102 3.15870291 3.03132234 2.57150168 3.84491412
 3.67516253 2.09391348 2.78949264 2.65069402 3.34690206 3.26743364
 4.09425356 4.06267159 2.41850152 3.82639125 2.7670363  2.20448607
 3.56653899 3.78467095 4.72932794 2.45320002 5.42161283 3.00295903
 3.21171298 4.22326964 3.35493657 3.52141912 2.4551149  2.559056
 3.92351864 4.71924519 2.8554743  3.85888437 2.47252061 3.01635354
 4.63570791 4.46561088 5.02329727 2.97903552 3.39982996 2.69710608
 2.73597237 3.19378149 2.23707627 2.7440729  2.73073786 2.62775333
 3.29621257 2.96454599 2.88881455 2.92154874 3.90753359 3.71280477
 3.40192975 3.22956827 4.90877525 3.12493821 3.45267739 3.15378794
 3.94323417 3.59366161 3.98086613 2.59140253 3.06357132 3.30507469
 3.94781569 2.9770235  3.65318224 5.22330392 4.42271311 3.04541823
 3.00186722 3.15145763 2.75226161 4.61923648 4.27484222 4.70224344
 5.2084271  4.04377659 1.93610099 3.85912296 2.97087538 4.00666615
 2.18530208 4.85587238 2.06339746 3.95829145 2.83244106 3.94140316
 2.99934721 3.19811075 1.7632532  3.41513617 2.76261956 4.10962296
 2.66386681 2.78969368 4.36863849 3.6095506  3.40179614 2.7588497
 4.14104081 4.3860501  3.16217826 4.63884324 3.50019307 2.85393088
 3.7414921  3.30714609 2.23022662 1.91053342 2.70605729 4.15792975
 3.2138517  3.48123503 4.80625597 3.25653978 3.41123967 3.4682709
 3.53889162 1.60271238 4.37555108 3.20461082 2.7202012  4.32997883
 3.1545176  2.7244645  2.39863433 3.54768116 2.89771271 1.59788435
 3.3824528  3.73186492 3.61107655 3.39759377 4.15357248 3.30951665
 4.49901801 4.05616848 2.17695432 3.08888317 2.789491   3.41853425
 3.47597869 2.40884722 2.34347354 2.73876761 3.8446726  3.26815667
 4.44717617 2.63151413 3.50608323 2.83479977 1.19267662 1.39547415
 3.21209692 3.79030067 4.83161703 3.1746192  4.99690716 4.42751317
 2.47299273 2.54872886 3.96075057 2.79803691 3.5306073  5.22236151
 2.51092662 4.18722868 2.92406052 2.40362175 3.03317893 3.90503509
 3.18893755 1.74819045 3.41956831 3.67779168 4.54529148 2.62148856
 5.74670103 4.53233517 2.94217901 3.56497768 3.0542213  1.67158309
 3.45234446 3.95424598 3.16714791 4.7230578  2.94210362 2.67568586
 2.0921906  3.08154191 4.23213151 3.47025205 2.91025782 3.11917526
 2.96936062 3.41071427 3.06616621 4.02717997 3.24511974 4.61714196
 2.21896093 3.53214661 3.44711784 2.35408879 4.68332558 2.54492431
 3.00578968 4.79143594 4.83424217 3.55759494 3.25111971 3.18335223
 2.83706609 3.46803385 3.71529191 2.77147732 3.24881422 3.41712526
 2.88838828 3.34052697 2.82076922 3.17818115 2.61339529 4.66635647
 5.16234512 2.64259098 3.06109673 4.09402756 5.04056068 3.17915362
 2.8942044  3.61486504 4.68869962 4.61870003 3.44596546 3.41147617
 2.16579443 2.99873471 2.60091297 2.39388258 3.06634899 3.24493338
 3.84495802 3.48297518 2.81211243 3.10702239 2.71426059 3.60760458
 3.74719639 2.84188731 2.62644963 3.21290208 2.83334992 3.95332801
 4.07306247 3.08944494 2.85314409 2.80422904 2.68319537 4.02655016
 4.62387597 3.01747762 2.99843539 3.88580584 3.18223622 2.68691155
 4.81886019 3.64023182 4.95833107 1.98554507 2.37332175 2.00859821
 4.53087842 3.335012   2.78607641 2.68052975 4.16065836 2.6262509
 3.14005373 2.81168008 2.94631549 3.94138339 3.49618059 2.52918523
 4.37216801 3.88963259 4.61008055 2.63319301 2.93905101 2.81959029
 2.81948626 3.88774458 4.01044368 2.90269665 3.56885655 3.28292157
 2.98838316 4.27728815 3.01930556 3.61593295 3.05256958 2.92015464
 3.80509843 2.79995771 2.56669257 3.51159429 4.10919927 4.0853568
 2.80642448 3.19925895 3.28304583 2.64315173 4.37337339 4.62134437
 2.77341153 3.17262775 4.53190692 3.17182959 3.55970861 2.36031118
 3.62943336 3.1664229  3.05763251 4.42620458 4.03227794 2.00201115
 3.1396403  2.83081816 3.19908627 4.85932818 2.42202148 3.52241463
 3.05932129 2.54964789 4.79469217 2.55891222 3.20708257 4.87321297
 4.4417304  3.89544326 2.86589267 2.91627241 1.7675804  2.63248351
 3.61542575 2.42050074 3.28245632 2.58621189 3.47820162 3.03996799
 3.62297622 3.07860008 2.81794806 3.53864101 3.88258583 3.19062351
 4.32943474 3.57088139 3.84062818 2.15188903 2.75091227 3.52494665
 2.78068836 4.28460318 4.4747509  2.1466799  4.49311096 3.87439462
 2.07672208 4.77760092 2.83524592 2.93136012 3.07297899 5.15217298
 1.98010054 3.5292219  3.53339553 5.20924825 3.14224929 1.78434376
 2.90348477 3.09371653 3.11144718 2.94620536 2.23163017 2.90104247
 2.89917073 3.04459027 4.45710774 3.25235622 2.50728254 2.51798347
 2.59769079 2.3319206  5.35877579 4.20181323 3.13853516 2.94546951
 3.98010629 4.3981571  3.40372743 4.22218178 3.97336727 2.28283356
 2.62266672 4.44324122 3.32454883 2.48398317 2.72335174 2.36327763
 2.67076134 2.99019007 2.94979458 2.74445082 2.44158331 4.39439618
 3.09087096 1.88122392 3.96507091 3.10997621 3.94486507 4.71497964
 3.73742192 3.73824974 3.15277879 4.0795891  3.04917048 2.46282606
 3.89272944 3.52616943 3.53347857 3.11483151 4.33604415 2.07094301
 3.36561608 3.9095149  2.60157969 2.93805099 4.88563076 4.11250614
 2.89991212 3.03013892 3.97840516 3.51304919 4.80342058 3.40675218
 2.68381394 3.2835112  3.2499717  2.66214177 2.99542639 3.95974417
 3.17435284 2.31742888 3.42700998 2.68922679 3.06822751 0.79816788
 4.50177033 2.73865717 3.03127826 3.23687466 4.37537205 5.12132567
 2.72159097 2.78482866 2.62167966 4.25233877 3.28608281 2.8845565
 1.43527848 2.6245909  3.21973212 3.31541182 2.7910709  4.76181089
 3.92082113 4.3145945  3.82185577 2.91395507 3.81516607 4.05018733
 3.07113427 2.86954468 2.45122928 3.02140614 2.4256841  2.20130355
 5.77615811 4.76762023 4.13825657 3.23161173 2.55839959 2.91118768
 2.62133835 2.55980972 3.29022334 2.83205203 3.21351192 2.12299036
 2.25334913 2.84657413 2.88004808 5.10336781 2.70281812 2.83156032
 3.21618058 2.18677262 5.1559506  3.92791457 3.19153365 2.7731847
 4.35502968 2.83572723 2.73376014 2.27171034 2.18003316 1.93825961
 2.95410596 2.94242807 1.42193409 4.83145302 5.22108141 3.46767333
 3.81919129 3.70288417 2.53118667 3.26586429 4.37277404 1.75352866
 4.75683284 4.19164526 2.78155627 3.00077431 5.11664401 3.13265474
 2.89949075 3.37405918 3.90629113 2.80175707 4.81300878 2.55065119
 3.09791421 3.11447286 1.32548999 2.40285729 2.76623966 2.81958155
 4.46665534 2.41719486 2.07962056]

In [38]:
print(linear_score)

0.7004961000618063

In [39]:
lr = LogisticRegression()

In [40]:
lr_score = cross_val_score(lr, x_train, y_train, cv=5)

/Users/davidalbertomartinvela/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/davidalbertomartinvela/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/davidalbertomartinvela/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/davidalbertomartinvela/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/davidalbertomartinvela/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [41]:
print(lr_score.mean(), lr_score.std())

0.471875 0.016741369044973597

In [53]:
lr.fit(x_train,y_train)
lr_pred=lr.predict(x_test)
print(lr_pred)
lr_score=r2_score(y_test,lr_pred)

[3 3 3 3 3 3 3 5 3 3 5 3 3 3 3 5 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 5 3 3 3 3 3 3 3 3 3 5 3 3 3 3 3 3 3 5
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 5 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 5 3 3 3 3 3 3 3 3 3 5 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 5 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 5 3 3 3 3 3 3 3 3 3 3 3 3 5 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 5 3 3 3 3 3 3 3 3 3 3 3 3 3 3 5 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 5 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 5 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 5 3 3 3 3 3 5 3 3 3 3 3 3 3 3 3 5 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 5
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 5 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 5 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 5 3 3 3 3 3 3 3 3 3 3 3 3 5 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 5 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 5 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 5 3 3 3 3 3 3 5 3 3 3 3 3 3 3 3 3 5 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 5 3 3 3 3 3 3 3 3 3 3 3 3 5 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 5 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3]

/Users/davidalbertomartinvela/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [42]:
from sklearn.ensemble import RandomForestRegressor

In [43]:
rfg = RandomForestRegressor()

In [44]:
rfg_score = cross_val_score(rfg, x_train, y_train, cv=5)

In [45]:
print(rfg_score.mean(), rfg_score.std())

0.8340734009181837 0.024648736424882342

In [46]:
rfg.fit(x_train,y_train)
rfg_pred=rfg.predict(x_test)
print(rfg_pred)
rfg_score=r2_score(y_test,rfg_pred)

In [47]:
print(rfg_score)

0.8645720627503338

Versión 1 (Vanilla)

Generar fichero

In [58]:
# Ahora predecimos
predict = rfg.predict(car_test)
# Generamos 
df_result = pd.DataFrame({'id': tests_ids, 'Precio_cat': np.around(predict).astype(int) })
df_result.to_csv("mis_resultados_1.csv", index=False)

In [60]:
df_result.head()

     id  Precio_cat
0  4820           5
1  4821           2
2  4822           2
3  4823           3
4  4824           2